@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --white: #ffffff;
    --green: #657258;
    --black: #000000;
    --cream: #ede6d9;
    --background: #f7f4f2; 
    --action: rgba(99, 136, 137, )
}

/* CSS Reset to get rid of the weird browser setting*/

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Cormorant Garamond", serif;
    color: var(--black);
    scroll-behavior: smooth;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Cormorant Garamond", serif;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

/* utilities */

.display-none {
    display: none;
  }

  /* Components */

body {
    background-color: var(--white);
}

footer {
    background-color: var(--green);
    color: var(--white);
}

.btn-primary {
    padding: 13px 26px;
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    background-color: var(--cream);
    margin: 26px 0;
}

.btn-primary:hover {
    color: var(--white);
    background-color: var(--green);   
}

header .mobile-header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

header button {
    all: unset;
}

.logo {
    height: 70px;
    margin: 15px;
}

.mobile-nav a {
    text-decoration: none;
    color: var(--black);
    display: block;
    padding: 4px 16px;
}

.desktop-nav {
    display: none;
}

.hamburger-icon {
    height: 40px;
    margin-right: 26px;
}

.hero {
    margin-top: 5px;
    margin-bottom: 48px;
    background-color: var(--background);
    width: 100%;
    height: auto;
}

.hero-bg {
    margin-bottom: 24px;
    
}

.hero-img {
    display: flex;
    justify-content: center;
}

.hero-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 26px;
    margin-right: 26px;
}

.hero-bg {
    background-image: url(./img/hero-bg-1.png);
    width: 100%;
    background-size: cover;
}

.hero-bg--1 img {
    width:40%
}


.hero h1 {
    font-size: 2rem;
    padding: 16px;
    text-align: center;
}

.hero p {
    padding: 16px 30px 0;
    margin-bottom: 16px;
}

.content-container, .portfolio-container {
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 48px;
}


.portfolio {
    margin: 5px 26px;
    padding: 0 30px;
}

footer {
    padding:32px 16px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.socials-icon {
    height: 50px;
}

footer a:has(img) {
    text-decoration: none;
}

footer a:link {
    color: var(--white);
}

footer a:visited {
    color: var(--cream);
}

/* contact page styling */

.form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
}
.contact-form {
    margin: 64px 72px;
}

.contact-form p {
    padding-bottom: 32px;
    font-size: 1.1rem;
    text-align: center;
}

.form-floating input,textarea {
    display: block;
    padding: 8px;
    margin-bottom: 26px;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
}

.form-floating input:focus, 
.form-floating textarea:focus {
    outline: none !important;
    border-color: var(--cream);
    box-shadow: 0 0 10px var(--cream);
}


.form-floating input[type="submit"] {
    border: 0;
    margin-top: 8px;
    cursor: pointer;
    background-color: var(--cream);
    width: 15%;
    min-width: fit-content;
}

.form-floating input[type="submit"]:hover {
    background-color: var(--green);
    color: var(--white);
}

/* about page styling */

.ac {
    background-color: var(--background);
    margin-bottom: 48px;
    padding: 70px 0;
}

.ac--1, .ac--2, .ac--3 {
    margin-left: 26px;
    margin-right: 26px;
    padding: 0 30px;
}

.ac--1 h2, .ac--3 h2 {
    margin-bottom: 16px;
}

.ac--2 span {
    border-style: solid;
    border-color: var(--green);
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 5px;
    text-transform: uppercase;
}

.ac--2 h3 {
    margin-top: 32px;
}

.ac--3 p {
    margin-bottom: 16px;
}


/* portfolio page styling */

.portfolio-mp {
    margin-bottom: 26px;
}

.portfolio-mp img, .portfolio-mp p {
    margin-bottom: 20px;
}
.portfolio-mp h2 {
    margin-bottom: 5px;
}

.index-head, .index-title, .index-item {
    margin-top: 5px;
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 16px;
    padding: 0 30px;
}

.index-title {
    padding-top: 10px;
}

.index-container {
    background-color: var(--background);
    padding: 26px 26px 48px;
}

.index-btn {
    text-decoration: none;
    color: var(--black);
    background-color: var(--background);
    margin-bottom: 16px;
    border: none;
    padding: 0;
    font-size: 1.2em;
}

.index-item {
    margin-bottom: 26px;
    text-decoration: underline;
    text-underline-offset: 28px;
}


@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav ul {
        display: flex;
        gap: 24px;
        margin-right: 16px;
    }

    header .mobile-header .hamburger-icon {
        display: none;
    }

    .logo {
        height: 150px;
    }

    .desktop-nav a {
        text-decoration: none;
        font-size: large;
        color: var(--black);
        /* Underline styles */
        display: block;
        position: relative;
     }

     .desktop-nav a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--black);
        transition: opacity 300ms, transform 300ms;
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
    }
    
    .desktop-nav a:hover::after,
    .desktop-nav a:focus::after {
      transform: scale(1);
    }

     .desktop-nav {
        display: inline-block;
        margin-right: 32px;
     }

     .hero {
        display: flex;
    }

    .hero-text {
        font-size: large;
    }

    .hero-text p {
        padding: 0 70px;
    }
    
    .content-container {
        font-size: large;
        margin: 48px 270px;
    }

    .ac {
        font-size: large;
    }

    .ac--1, .ac--2, .ac--3 {
        margin: 48px 270px;
        padding: 0;
    }

    .contact-form {
        font-size: large;
        margin: 48px 270px;
    }

    .contact-form form {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-container {
        display: flex;
        justify-content: space-between;
        margin: 48px 120px;
    }

    .index-container {
        font-size: large;
        padding: 48px 120px;
        
    }

    footer {
        font-size: large;
    }
}



















